.head {
  margin-bottom: 40px;
}

.line {
  display: flex;
  justify-content: space-between;
  padding: 17px 0;
  max-width: 512px;
}

.hr {
  max-width: 512px;
  margin: 0;
  border: 1px solid #f1f2f3;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: var(--text-color);
}

.totalCount {
  color: #bebebe;
  font-weight: 300;
  font-size: 14px;
  line-height: 19.07px;
  letter-spacing: 0%;
}

.price {
  font-weight: 400;
  font-size: 19px;
  line-height: 25.87px;
  text-align: right;
  color: var(--text-color);
}

.line span {
  color: var(--sub-color, #9796a1);
}

.checkout {
  max-width: 512px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.wrapper {
  gap: 40px;
  margin-top: 30px;
  overflow: auto;
  max-height: 80dvh;
  padding-bottom: 32px;
}
