.head {
  display: flex;
  margin: 45px;
  justify-content: space-between;
  max-width: 700px;
}

.backBtn {
  background: none;
  border: none;
  padding: 15px 19px;
  border-radius: 15px;
  box-shadow: 5px 10px 20px 0px #d3d1d8b6;
}

.toCartBtn img {
  margin-right: 10px;
  margin-left: 0;
}

.toCartBtn {
  padding-left: 14px;
  padding-right: 20px;
}

.product {
  display: flex;
  margin: 45px;
  gap: 48px;
}

.image {
  border-radius: 15px;
}

.line {
  display: flex;
  justify-content: space-between;
  padding: 17px 0;
  width: 100%;
}

.hr {
  max-width: 512px;
  margin: 0;
  border: 1px solid #f1f2f3;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: var(--text-color);
}

.price {
  font-weight: 400;
  font-size: 19px;
  line-height: 25.87px;
  text-align: right;
  color: var(--text-color);
}

.line span {
  color: var(--sub-color, #9796a1);
}

.description {
  width: 201px;
}

.rating {
  box-shadow: 5px 10px 20px 0px #d3d1d8b6;
  padding: 3px 6px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 12.14px;
  line-height: 16.54px;
  letter-spacing: 0%;
}

.ingredients {
  font-weight: 600;
  font-size: 14.57px;
  line-height: 19.84px;
  letter-spacing: 0%;
  color: var(--text-secondary-color);
}

.ingredients ul {
  font-weight: 400;
  padding-left: 16px;
}
