.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.text {
  font-weight: 300;
  font-size: 31px;
  line-height: 37.2px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--text-color);
}

@media (max-width: 800px) {
  .success img {
    width: 300px;
  }
}
