.layout {
  display: flex;
  min-height: 100dvh;
  max-height: 100dvh;
  overflow: hidden;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 35px;
}

.sidebar {
  padding: 30px;
  border-right: 1px solid var(--separator-color);
  display: flex;
  flex-direction: column;
}

.exit {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.link {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    color: var(--primary-hover-color);
  }
}

.active {
  color: var(--primary-hover-color);
}

.user {
  margin-bottom: 46px;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 40px 0 40px 40px;
  width: 100%;
  max-height: 100dvh;
  overflow: hidden;
}

.cartCount {
  background: var(--primary-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--white-color);
}

.burgerBtn {
  display: none; /* Скрываем на больших экранах */
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: relative;
}

.burgerBtn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  transition: all 0.3s ease;
}

.burgerBtn span:nth-child(1) {
  top: 0;
}

.burgerBtn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burgerBtn span:nth-child(3) {
  bottom: 0;
}

.burgerBtn.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.burgerBtn.active span:nth-child(2) {
  opacity: 0;
}

.burgerBtn.active span:nth-child(3) {
  bottom: 40%;
  transform: rotate(-45deg);
}

.cartButtonFixed {
  display: none;
}

@media (max-width: 820px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #333;
    transition: left 0.3s ease;
    padding: 0;
    z-index: 10;
    align-items: center;
  }
  .menu {
    font-size: 32px;
  }
  .user {
    margin-top: 100px;
  }
  .exit {
    margin-bottom: 50px;
  }
  .sidebar.active {
    left: 0;
  }
  .burgerBtn {
    z-index: 12;
    display: block;
    top: 50px;
    left: 70px;
  }
  .content {
    overflow: auto;
    scrollbar-width: none;
  }

  .cartButtonFixed {
    display: block;
    cursor: pointer;
    z-index: 5;
    position: fixed;
    bottom: 75px;
    right: -250px;
    border-radius: 50%;
    background-color: #f58529d2;
    box-shadow: 18.21px 18.21px 36.43px 0px #d3d1d840;
    width: 100px;
    height: 100px;
    transition: all 0.2s ease;
  }
  .filled {
    right: 50px;
  }
  .cartButtonFixed span {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: red;
    width: 25px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
  }
  .hidden {
    display: none;
  }
}

@media (max-width: 500px) {
  .content {
    padding: 15px 0 40px 0;
  }
  .layout {
    padding-right: 15px;
  }
  .burgerBtn {
    top: 25px;
    left: 30px;
  }
  .cartButtonFixed {
    width: 70px;
    height: 70px;
    bottom: 25px;
    right: -225px;
  }
  .filled {
    right: 25px;
  }
}
